.home-flex-item {
    display: inline-block;
    width: 46%;
    border: 1px solid #888;
    text-align: center;
    padding: 50px 0px;
    margin-right: 2%;
    cursor: pointer;
    /* margin-bottom: 12px; */
}

ul li {
    list-style: circle;
}

/* //登录弹窗 */
.box_bg {
    position: absolute;
    left: 0;
    top: 0;
    background-color: gray;
    width: 100%;
    height: 200%;
    display: none;
    opacity: 0.8;
}

.box_lg,.box_lg2 {
    display: none;
    position: absolute;
    left: 50%;
    top: 50%;
    width: 500px;
    height: 300px;
    margin-left: -250px;
    margin-top: -150px;
    border: 1px solid #888;
    background-color: #fff;
    text-align: center;
}

ol li {
    list-style: none;
}

.ipt {
    padding: 12px;
    margin-bottom: 12px;
}